In [16]:
from langchain_core.prompts import PromptTemplate, FewShotPromptTemplate


prompt_example = PromptTemplate.from_template(
    "Question: {question}\n Response_format: {response_format}"
)
examples=[ { "question":"generate a query to find male employees whose salary is above 10000",
    "response_format": '''SELECT e.emp_no
                    FROM employees e
                    JOIN salaries s ON e.emp_no = s.emp_no
                    WHERE e.gender = 'M' AND s.salary > 10000;'''}]
   
prompt=FewShotPromptTemplate(
    example_prompt=prompt_example,
    examples=examples,
     prefix='''  The schema of databse is 
     Table: current_dept_emp
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: departments
 - dept_no (char(4))
 - dept_name (varchar(40))
 Table: dept_emp
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: dept_emp_latest_date
 - emp_no (int)
 - from_date (date)
 - to_date (date)
 Table: dept_manager
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: employees
 - emp_no (int)
 - birth_date (date)
 - first_name (varchar(14))
 - last_name (varchar(16))
 - gender (enum('M','F'))
 - hire_date (date)
 Table: salaries
 - emp_no (int)
 - salary (int)
 - from_date (date)
 - to_date (date)
 Table: titles
 - emp_no (int)
 - title (varchar(50))
 - from_date (date)
 - to_date (date)
''',
    suffix=" .Answer the following question by generating raw sql query , no backticks or markdown , jsut pure sql . I want the exactly same style to execute it in my sql .Question: {question}",
    input_variables=["question"]
)

final_prompt = prompt.format(
    question="generate a query to find departments with more than 10 employees"
)

print(final_prompt)

  The schema of databse is
     Table: current_dept_emp
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: departments
 - dept_no (char(4))
 - dept_name (varchar(40))
 Table: dept_emp
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: dept_emp_latest_date
 - emp_no (int)
 - from_date (date)
 - to_date (date)
 Table: dept_manager
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: employees
 - emp_no (int)
 - birth_date (date)
 - first_name (varchar(14))
 - last_name (varchar(16))
 - gender (enum('M','F'))
 - hire_date (date)
 Table: salaries
 - emp_no (int)
 - salary (int)
 - from_date (date)
 - to_date (date)
 Table: titles
 - emp_no (int)
 - title (varchar(50))
 - from_date (date)
 - to_date (date)


Question: generate a query to find male employees whose salary is above 10000
 Response_format: SELECT e.emp_no
                    FROM employees e
                    JOIN salaries s ON e.emp_no = s.emp_no
                    WHERE e.gender = 'M' AND s.salary > 10000;

 .Answer the following question by generating raw sql query , no backticks or markdown , jsut pure sql . I want the exactly same style to execute it in my sql .Question: generate a query to find departments with more than 10 employees

In [17]:
from langchain_google_genai import ChatGoogleGenerativeAI

llm = ChatGoogleGenerativeAI(
    api_key="AIzaSyAYjDDkAN9CmQKitUBhtfIrg8Amk1C1mMc",
    model="gemini-2.0-flash",
   
)

messages = [final_prompt]
    
genai_msg = llm.invoke(messages)
result=genai_msg.content
print(result)

SELECT d.dept_name
FROM departments d
JOIN dept_emp de ON d.dept_no = de.dept_no
GROUP BY d.dept_name
HAVING COUNT(DISTINCT de.emp_no) > 10;

In [3]:
from langchain_core.prompts import PromptTemplate, FewShotPromptTemplate


prompt_example = PromptTemplate.from_template(
    "Question: {question}\n Response_format: {response_format}"
)
examples=[ { "question":"generate a query to find male employees whose salary is above 10000",
    "response_format": '''SELECT e.emp_no
                    FROM employees e
                    JOIN salaries s ON e.emp_no = s.emp_no
                    WHERE e.gender = 'M' AND s.salary > 10000;'''
                    },{"question":"find the title of employee , employee  , department  who are female with salary above 20000.",
          "response_format":'''

SELECT t.title, e.first_name, e.last_name, d.dept_name 
FROM employees e 
JOIN salaries s ON e.emp_no = s.emp_no 
JOIN titles t ON e.emp_no = t.emp_no 
JOIN current_dept_emp c ON e.emp_no = c.emp_no 
JOIN departments d ON c.dept_no = d.dept_no 
WHERE e.gender = 'F' AND s.salary > 20000;'''}]
   

from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma
from langchain.prompts.example_selector import SemanticSimilarityExampleSelector

embedding_model = HuggingFaceEmbeddings()

C:\Users\MANJUSREE\AppData\Local\Temp\ipykernel_33208\1110350361.py:28: LangChainDeprecationWarning: Default values for HuggingFaceEmbeddings.model_name were deprecated in LangChain 0.2.16 and will be removed in 0.4.0. Explicitly pass a model_name to the HuggingFaceEmbeddings constructor instead.
  embedding_model = HuggingFaceEmbeddings()

In [ ]:

selector = SemanticSimilarityExampleSelector.from_examples(
    examples=examples,
    embeddings=embedding_model,
    vectorstore_cls=Chroma,
    k=1 
)
from langchain.prompts import FewShotPromptTemplate

dynamic_prompt = FewShotPromptTemplate(
    example_selector=selector,
    example_prompt=prompt_example,
    prefix='''  The schema of databse is 
     Table: current_dept_emp
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: departments
 - dept_no (char(4))
 - dept_name (varchar(40))
 Table: dept_emp
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: dept_emp_latest_date
 - emp_no (int)
 - from_date (date)
 - to_date (date)
 Table: dept_manager
 - emp_no (int)
 - dept_no (char(4))
 - from_date (date)
 - to_date (date)
 Table: employees
 - emp_no (int)
 - birth_date (date)
 - first_name (varchar(14))
 - last_name (varchar(16))
 - gender (enum('M','F'))
 - hire_date (date)
 Table: salaries
 - emp_no (int)
 - salary (int)
 - from_date (date)
 - to_date (date)
 Table: titles
 - emp_no (int)
 - title (varchar(50))
 - from_date (date)
 - to_date (date)
''',
    suffix=" .Answer the following question by generating raw sql query , no backticks or markdown , jsut pure sql . I want the exactly same style to execute it in my sql .Question: {question}",
    input_variables=["question"]
)
user_question = "Find average salary of female employees"

final_prompt = dynamic_prompt.format(question=user_question)
from langchain_groq import ChatGroq

llm = ChatGroq(
    model="deepseek-r1-distill-llama-70b",
    api_key="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"
   
)
question="Generate a query to find employee name and their employee no and their deprtment who joined th organizattion before 30 years of age."
messages = [final_prompt]
ai_msg = llm.invoke(messages)
print(ai_msg.content)

<think>
Alright, I need to find the average salary of female employees. Let me think about how to approach this.

First, I know that the employees table contains the gender information. So I'll start by selecting from that table where gender is 'F'.

Next, to get the salary data, I'll need to join the salaries table. The salaries table has emp_no, salary, from_date, and to_date. Since an employee can have multiple salary entries over time, I should consider the most recent or latest salary. To handle this, I can use a subquery to get the latest salary for each employee by taking the maximum from_date for each emp_no.

So, I'll join the employees table with the salaries table using a subquery that selects emp_no and the maximum from_date as of the current date. This ensures I'm getting the latest salary record for each female employee.

Once I have the employees and their latest salaries, I can use the AVG() function on the salary column to get the average. I'll alias this as 'average_salary' for clarity.

Putting it all together, I'll select the average salary from the employees joined with the salaries subquery on emp_no, and filter where gender is 'F'.
</think>

SELECT AVG(s.salary) AS average_salary
FROM employees e
JOIN (
  SELECT emp_no, salary, MAX(from_date) AS max_from_date
  FROM salaries
  GROUP BY emp_no
) s
ON e.emp_no = s.emp_no
WHERE e.gender = 'F';